.App {
  height: 100vh;
  width: 100vw;
}

header {
  height: 64px;
  padding: 0 50px;
  display: flex;
  align-items: center;
}

footer {
  text-align: center;
  height: 100px;
}

main {
  height: calc(100% - 64px - 100px - 40px);
  text-align: center;
}

.custom-tooltip {
  background: rgb(243, 241, 236);
  padding: 0.5rem;
  box-shadow: rgb(231 227 220) 10px 10px;
}
